<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KMQC11S5WE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KMQC11S5WE');
</script>
{% seo %}  
<meta name="keywords" content="fitzsimons lab, robotics, fitzsimons, machine learning, human machine, human robot, human robot interaction, active learning, optimal control, shared control, autonomy, robotic, robot, northwestern,emergent,cyber physical,information theory,ergodic,ergodicity,haptic,nonlinear systems">
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <h1 id="project_title" style="font-size:210%"><a style="color:white" href="/">Human-Centered Robotics Lab</a></h1>
            <!-- <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
            <nav>
                <ul>
                    <!-- <li><a style="color:white; font-size:120%;" href="/">Home</a></li> -->
<!--                    <li><a style="color:white; font-size:120%;" href="/projects">Projects</a></li>-->
                    <li><a style="color:white; font-size:120%;" href="/people">People</a></li>
                    <li><a style="color:white; font-size:120%;" href="/publications">Publications</a></li>
                    <li><a style="color:white; font-size:120%;" href="/news">News</a></li>
                    <li><a class="fun-colors" style="font-size: 120%;" href="/art">Art + Media</a></li> 
                    <li><a class="fa fa-github" style="color:white; font-size:120%;" href="https://github.com/psu-hcr"></a></li>
                 <!--</div>-->
                </ul>
              </nav>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <ul>
            <li style="font-weight:normal;color:white">Part of the <a style="color:white" href="https://www.me.psu.edu/">Mechanical Engineering Department</a> at <a style="color:white" href="https://www.psu.edu/">Pennsylvania State University</a> | <a style="color:white" href="/sitemap.xml">Site Map</a> </li>
        </ul>
        <!-- {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p> -->
      </footer>
    </div>

  </body>
</html>
